@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    color: #666; 
    line-height: 1.5;  
}

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 35%;
    background-color: aqua;
    padding: 124px 54px 72px;
    box-sizing: border-box;
    background-image: url(imagens/overlay.png), url(imagens/bg.jpg);
    background-position: left top;
    background-size: auto, cover;
    text-align: right;
}

.titulo {
    font-size: 29px;
    line-height: 1.4;
    color: rgba(255, 255, 255, .5);
}

.titulo a {
    color: white;
    text-decoration: none;
}

.titulo a:hover {
    color: rgb(86, 193, 86);
    transition: 0.8s;
    text-decoration: underline;
}

a {
    color: blue;
}

h1, h2, h3, h4, h5, h6 {
    color: #6f6e6e;
    font-weight: normal;
    margin: 1em 0;
}

p {
    margin: 0 0 2em;
}

img {
    max-width: 100%;
}

.recent-card {
    border: 0.5px solid rgba(0, 0, 0, 0.228);
    padding: 5px;
    margin-top: 5px;
    border-radius: 3px;
    margin-bottom: 5px;
}

article > p {
    text-align: center;
    margin-top: 0px;
    text-decoration: underline;
} 

.recent-card > .p2 {
    margin-top: -20px;
    font-size: small;
    text-decoration: none;
    
}

.recent-card img {
    border-radius: 6px;
}

.main-header-link img {
    border-radius: 50%;
    overflow: hidden;
}

sub, sup {
    font-size: 16px;
}

blockquote {
    border-left: 5px solid #efefef;
    margin: 2em 0;
    padding: .5em 0 .5em 1.5em;
}

code {
    background-color: #121111;
    border-radius: .35em;
    border: 2px solid #efefef;
    font-size: .9em;
    padding: 0.25 0.65em;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

pre code {
    display: block;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style-position: inside;
}

.alternada {
    list-style-type: none;
    padding-left: 0;
}

.alternada li {
    border-bottom: 2px solid #ccc;
    padding-left: 0;
}
.alternada li:last-child {
    border: 0;
}

.icones {
    list-style-type: none;
    padding-left: 0;

}

.icones li {
    display: inline-block;
    font-size: 1.5em;
    color: rgb(110, 110, 215);
}

input, label, textarea {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}

input, textarea, select {
    background-color: #ccc;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid transparent;
    margin-bottom: 15px;
}

input[type="radio"], input[type="checkbox"] {
    width: auto;
}

textarea {
    height: 10em;
}

input:focus, textarea:focus{
    border: 2px solid #49bf9d;
    outline: none;
}

.btn-default {
    background-color: #49bf9d;
    border: 2px solid #49bf9d;
    color: white;
    padding: .75em 1.5em;
    border-radius: 5px;
    font-size: .9em;
    text-decoration: none;
    display: inline-block;
    width: auto;
    transition: all .9s;
    cursor: pointer; 
}

.btn-default:hover {
    background-color: #61e7c1;
    color: #121111;
}

.btn-default-stroke {
    background-color: white;
    border-color: #efefef;
    color: inherit; 
     
}

.btn-default-stroke:hover {
    color: #49bf9d;
    border-color: #49bf9d;
    background-color: white;
}

.btn-default-big {
    font-size: 1em;
    background-color: #49bf9d;
    color: white;
}

.btn-default-small {
    font-size: 0.7em;   
}

.btn-default-full {
    display: block;
    text-align: center;
    
}

.table {
    width: 100%;
    margin: 0 0 2em 0;
    border-collapse: collapse;
    text-align: left;
}
.table td {
    padding: .75em;
}

.table th {
    background-color: #ccc;
    padding: .75em;
}

.table tbody tr td {
    border-bottom: 2px solid #ccc;
}

.table tbody tr:first-child td {
    border-top: 2px solid #666;
}

.table tbody tr:last-child td {
    border-bottom: 2px solid #666;
}

.table tbody tr:nth-child(even) td {
    background-color: #eee;
}

.table-alternada tbody td {
    border: 1px solid #ddd;
}

.row {
    overflow: auto;
}

.col2 {
    width: 49%;
    float: left;
}

.col2:first-child {
    margin-right: 1%;
}

.col2:last-child {
    margin-left: 1%;
}

.col2-3 {
    width: 66%;
    float: left;
}

.galeria-img img {
    width: 100%;   
}

.galeria-thumb img, .galeria-img {
    margin-bottom: 2%;
    display: inline-block;
}

.col1-3 {
    width: 32%;
    float: left;
}

.col1-3:nth-child(3n - 2) {
    margin-right: 2%;
}

.col1-3:nth-child(3n) {
    margin-left: 2%;
}

.col2-3 + .col1-3 {
    margin-left: 2%;
}

.col1-3 + .col2-3 {
    margin-left: 2%;
}

.titulo strong {
    color: white;
    font-weight: bold;
}

.main-content {
    width: 65%;
    margin-left: 35%;
    padding: 124px 54px 72px;
    box-sizing: border-box; /*como o padding acrescenta o tamanho width o border box comprime o tamanho*/
}

.main-footer {
    position: fixed;
    bottom: 0px;
    width: 35%;
    left: 0;
    padding: 0 54px 72px 0;
    box-sizing: border-box;
    text-align: right;    
}

.ul-icones li, a {
   display: inline-block;
   color: white;
}

.copyright li {
    color: white;
    list-style-type: none;
}

.icon-link {
    color: white;
}

.icon-link i:hover {
    transition: 0.9s;
    color: rgb(105, 105, 216);
}

.copyright a:hover {
    transition: 1s;
    color: #49bf9d;
}